.large { font-size: 130% }
.small { font-size: 70% }
.smaller { font-size: 55% }
.tiny {font-size: 40% }

.footnote {
  
  position: absolute;
  bottom: -0.5em;
  padding-right: 4em;
  font-size: 0.9em;
}